*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{   
    background-image:url(../multimedia/fondo.jpg);
    background-size: cover; 
    background-position: center center;
    background-attachment: fixed;  
    background-repeat: no-repeat;
}
/*  inicio de header */

header{
    height: 100px;
    width: 100%;
}
header div{
    display: flex;
    margin-top: 1%;
    width: 100%;
    height: 40px;
}

header div img{
    width: 64px;
    height: 32px;
    opacity: 0.5;
}

header div img:hover{
    opacity: 1.0;
}


header div h1{
    height: 32px;
    width: 100%;
    color:rgb(236, 236, 236);
    text-transform: capitalize;
    text-align: center;
    font-size: 34px;
    animation-duration: 3s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
}

@keyframes aparecer {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
}

header nav ul{
    width: 100%;
    list-style: none;
    justify-content: space-around;
    background-color: rgb(46, 37, 58);
    display: flex;
    font-size: 30px;
    flex-wrap: wrap;
}

header nav li:hover{
    background-color: cyan;
}
header nav li:active{
    background-color:  rgb(100, 24, 136);
    
}

header nav ul a{
    color: darkcyan;
    text-decoration: none; /* Cambiar raya de URL */
    text-transform: capitalize;
    flex-direction: row;
}

section{
    height: 803px;
    width: 100%; 
}
/* finaliza header */
/* --------------------------------------------------------*/
/*  Section de index.html */
.set_up{
    width: 50%;
    height: 200px;
    margin: auto;
    margin-bottom: 16px;
    display: flex;
    box-shadow: 10px 10px;
}

.contenedor__productos{
    display: grid;
}

.caja__productos{
    border: none;
    text-align: center;
    width: 90%;
    height: 100%;
}
.caja__productos a{
    text-decoration: none;
    color: rgb(125, 16, 175);
    font-size: 25px;
}

section article div a:hover{
    background-color:  rgb(100, 24, 136);
}

section article div a:active{
    background-color: cyan;
}
/* dos columnas por 4 filas*/
.teclado__caja{
    grid-column: 1/1;
    grid-row: 1/1;
    background-color: rgb(35, 26, 46);
}


.mouse__caja{
    grid-row: 1/1;
    grid-column: 2/2;
    background-color: rgb(35, 26, 46);

}

.pantalla__caja{
    grid-column: 1/1;
    grid-row: 3/3;
    background-color: rgb(35, 26, 46);
}

.pc__caja{
    grid-column: 2/2;
    grid-row: 3/3;
    background-color: rgb(35, 26, 46);
}

.img__TecladoCaja{
    grid-column: 1/1;
    grid-row: 2/2;
}
.img__MouseCaja{
    grid-column: 2/2;
    grid-row: 2/2;
}
.img__PantallaCaja{
    grid-column: 1/1;
    grid-row: 4/4;
}
.img__PcCaja{
    grid-column: 2/2;
    grid-row: 4/4;        
}

.imgs__prod{
    width: 100%;
    height: 250px;
    transition: all .3s ease-in-out;
}

.imgs__prod:hover{
    transform: scale(0.9);
    transform-origin: center center;
}

/*  finaliza Section de index.html */
/* --------------------------------------------------------*/
/* inicio de Section de productos.html */

table,td, th {
    border: 2px solid black;
}
table{
    border-collapse: separate;
    margin-left: 10px;
    background-color: rgb(38, 73, 114); 
}
td, th{
    height: 27px; 
}

th {
    font-family: Arial;
    text-transform: uppercase;
    font-weight: bold;
    color:#c8c8c8 
}
td {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#c8c8c8 
}
/* finaliza Section de productos.html*/
/* --------------------------------------------------------*/
/* Inicio de Section de promos.html*/
.PromoImg{ 

    border: 7px solid rgb(110, 26, 26);
    width: 50%;
    height: 300px;
    margin-top: 10px;
    margin-left: 250px;
} 


.PromoText{
    margin-left: 420px;
    padding: 11.5px;
    color: rgb(44, 1, 44) ;
    background: rgb(105, 2, 105) ;
    font-size: 27px;
    display: inline-block;
}

/* Inicio de Section de promos.html*/
.PromoImg{ 

    border: 7px solid rgb(110, 26, 26);
    width: 50%;
    height: 300px;
    margin-top: 10px;
    margin-left: 250px;
} 


.PromoText{
    margin-left: 420px;
    padding: 11.5px;
    color: rgb(44, 1, 44) ;
    background: rgb(105, 2, 105) ;
    font-size: 27px;
    display: inline-block;
}
/* finaliza Section, pagina promos.html*/ 
/* --------------------------------------------------------*/
/* inicio de section, pagina nosotros.html*/

.contenedor__Caja{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.QuienesSomos{
    background-color: rgb(35, 26, 46);
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(125, 16, 175);
    margin-bottom: 5px;
    font-size: 20px;
}
.TiendaImg{ 
    border: none;
    width: 100%;
    height: 50%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
} 

.TextDueños{
    background-color: rgb(35, 26, 46);

    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(125, 16, 175);
    font-size: 20px;
    margin-bottom: 5px;
}
/* cierre de section, pagina nosotros.html*/
/* --------------------------------------------------------*/
/* inicio de section, pagina contacto.html*/
.contenedor--sectioncontacto{
    display: grid;
    flex-direction: column;
}

.caja__contacto{
    display: grid;
    width: 100%;
    height: 100%;
}

.form--contacto{
    background-color: rgb(35, 26, 46);
    color: rgb(125, 16, 175);
    font-style: italic;
}

.form--contacto label{
	font-weight:bold;
    font-size: 25px;
}

.text__horarios{
    color: rgb(125, 16, 175);
    background-color: rgb(35, 26, 46);
    text-align: center;
    font-size: 25px;
    padding-bottom: 16px;
    
}

.imgmaps{
    height: 100%;
    width: 100%;
}
/* cierre de section, pagina contacto.html*/
/* --------------------------------------------------------*/
/* footer paginas */
footer{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-style: italic;
}

footer img{
    float: left;
    width: 64px;
    height: 32px;
    opacity: 0.5;
}
footer img:hover{
    opacity: 1.0;
}


footer div p{
    display: flex;
    justify-content: center;
    font-size: 14px;
}


footer div ul{
    text-transform: capitalize;
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
}

footer div ul li{
    list-style: none;
    margin-right: 10px;
}

footer div ul a{
    color: rgb(255, 255, 255);
    text-decoration: none; /* Cambiar raya de URL */
}

footer div ul li:hover{
    background-color: rgb(211, 211, 211);
}
footer div ul li:active{
    background-color:  rgb(100, 24, 136);
}
/* Cierre de footer*/
/* --------------------------------------------------------*/
/* Vista Mobile*/
@media only screen and (min-width:320px) and (max-width:767px){
    section{
        height: 1350px;
        width: 100%; 
    }
    header{
        height: 150px;
    }

    /* index.html */
    .set_up{
        width: 100%;
    }
    
    .caja__productos{
        width: 300px;    
    }
    /* Una columna por ocho filas*/
    .teclado__caja{
        grid-column: 1/1;
        grid-row: 1/1;
        background-color: rgb(35, 26, 46);
    }
    
    .mouse__caja{
        grid-row: 3/3;
        grid-column: 1/1;
        background-color: rgb(35, 26, 46);
    }
    
    .pantalla__caja{
        grid-column: 1/1;
        grid-row: 5/5;
        background-color: rgb(35, 26, 46);
    }
    
    .pc__caja{
        grid-column: 1/1;
        grid-row: 7/7;
        background-color: rgb(35, 26, 46);
    }
    
    .img__TecladoCaja{
        grid-column: 1/1;
        grid-row: 2/2;
    }
    .img__MouseCaja{
        grid-column: 1/1;
        grid-row: 4/4;
    }
    .img__PantallaCaja{
        grid-column: 1/1;
        grid-row: 6/6;
    }
    .img__PcCaja{
        grid-column: 1/1;
        grid-row: 8/8;        
    }
    .caja__productos{
        width: 100%;
        height: 100%;
    }

    /* nosotros.html */
    .TiendaImg{
        margin-top: 10%;
        margin-bottom: 10%;
        width: 100%;
        height: 400px;
    }

    /* contacto.html */

    .imgmaps__caja{
        height: 700px;
        width: 100%;
    }

    .contenedor--sectioncontacto{
        grid-row-gap: 2%;
        grid-template-rows: 1fr;
    }

}
/* Cierre de Mobile*/
/* --------------------------------------------------------*/
/* Vista Tablet */

@media only screen and (min-width:768px) and (max-width:1023px){
    
    /*  index.html*/
    .contenedor__productos{
        grid-template-columns: 1fr 1fr;
        padding-left: 5%;
    }

    .set_up{
        width: 70%;
        height: 225px;
    }
    /* nosotros.html*/
    .TiendaImg{
        margin-top: 2%;
        margin-bottom: 2%;
        width: 100%;
        height: 70%;
        justify-content: center;
    }


    /* contacto.html*/ 
    .caja__contacto{
        justify-content: center;
        text-align: center;
    }

    .form--contacto{
        margin-bottom: 16px;        
    }

    .texthorarios__caja{
        text-align: center;
        font-size: 25px;
    }
    .imgmaps__caja{
        height: 400px;
    }
}

/* Cierre de vista tablet*/
/* --------------------------------------------------------*/
/* Vista Desktop */

@media only screen and (min-width:1024px) and (max-width:1920px){
    
    /* index.html*/
    .contenedor__productos{
        grid-template-columns: 1fr 1fr;
        padding-left: 2%;
        padding-right: 2%;
        grid-column-gap: 2%;
    }

    .caja__productos{
        width: 100%;
    }
    .set_up{
        width: 60%;
        height: 225px;
    }

    /* nosotros.html*/ 

    .contenedor__CajaNosotros{
        grid-template-columns: 1fr 1fr;
        display: grid;
        width: 100%;
        height: 100%;
        grid-row-gap: 17.5em;  
        grid-column-gap: 30px;  
    }

    /* dos columnas por cuatro filas*/
    .TiendaImg{
        width: 100%;
        height: 100%;
        margin-top: 0%;
        margin-bottom: 0%;
    }

    .CajaQuienesSomos{
        grid-column: 1/1;
        grid-row: 1/2;
    }
    
    .CajaTiendaImg{
        grid-column: 2/2;
        grid-row: 1/4;
    }
    
    .CajaTextDueños{
        grid-column: 1/1;
        grid-row: 2/2;
    }

    /* contacto.html*/
    .contenedor--sectioncontacto{
        grid-template-columns: 1fr 1fr;
    }

    .imgmaps__caja{
        height: 700px;
    }
    .form--contacto{
        font-size: 4em;
    }

    .form--contacto input{
        font-size: 0.3em;
    }

    .form--contacto select{
        font-size: 0.3em;
    }

}
/* Cierre de Vista Desktop */
