*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{   
    background-image:url(../multimedia/fondo.jpg);
    background-size: cover; 
    background-position: center center;
    background-attachment: fixed;  
    background-repeat: no-repeat;
}
/*  inicio de header */

header{
    height: 100px;
    width: 100%;
}
header div{
    display: flex;
    margin-top: 1%;
    width: 100%;
    height: 40px;
}

header div img{
    width: 64px;
    height: 38px;
    opacity: 0.5;
}

header div img:hover{
    opacity: 1.0;
}


header div h1{
    height: 32px;
    width: 100%;
    color:rgb(236, 236, 236);
    text-transform: capitalize;
    text-align: center;
    font-size: 34px;
    animation-duration: 3s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
}

@keyframes aparecer {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
}

header nav ul{
    width: 100%;
    list-style: none;
    justify-content: space-around;
    background-color: rgb(46, 37, 58);
    display: flex;
    font-size: 30px;
    flex-wrap: wrap;
}

header nav li:hover{
    background-color: cyan;
}
header nav li:active{
    background-color:  rgb(100, 24, 136);
    
}

header nav ul a{
    color: darkcyan;
    text-decoration: none; /* Cambiar raya de URL */
    text-transform: capitalize;
    flex-direction: row;
}

section{
    height: 820px;
    width: 100%; 
}
/* finaliza header */
/* --------------------------------------------------------*/
/*  Section de index.html */
.set_up{
    width: 50%;
    height: 200px;
    margin: auto;
    margin-bottom: 16px;
    display: flex;
    box-shadow: 10px 10px;
}

.contenedor__productos{
    display: grid;
}

.caja__productos{
    border: none;
    text-align: center;
    width: 90%;
    height: 100%;
}
.caja__productos a{
    text-decoration: none;
    color: rgb(125, 16, 175);
    font-size: 25px;
}

section article div a:hover{
    background-color:  rgb(100, 24, 136);
}

section article div a:active{
    background-color: cyan;
}
/* dos columnas por 4 filas*/
.teclado__caja{
    grid-column: 1/1;
    grid-row: 1/1;
    background-color: rgb(35, 26, 46);
}


.mouse__caja{
    grid-row: 1/1;
    grid-column: 2/2;
    background-color: rgb(35, 26, 46);

}

.pantalla__caja{
    grid-column: 1/1;
    grid-row: 3/3;
    background-color: rgb(35, 26, 46);
}

.pc__caja{
    grid-column: 2/2;
    grid-row: 3/3;
    background-color: rgb(35, 26, 46);
}

.img__TecladoCaja{
    grid-column: 1/1;
    grid-row: 2/2;
}
.img__MouseCaja{
    grid-column: 2/2;
    grid-row: 2/2;
}
.img__PantallaCaja{
    grid-column: 1/1;
    grid-row: 4/4;
}
.img__PcCaja{
    grid-column: 2/2;
    grid-row: 4/4;        
}

.imgs__prod{
    width: 100%;
    height: 250px;
    transition: all .3s ease-in-out;
}

.imgs__prod:hover{
    transform: scale(0.9);
    transform-origin: center center;
}

/*  finaliza Section de index.html */
/* --------------------------------------------------------*/
/* inicio de Section de productos.html */

.Contenedor__Prod{
    grid-template-columns: 2fr 2fr 2fr 2fr;
    display: grid;
    width: 100%;
    height: 30%;
    grid-column-gap: 2%;
}
.caja__producto{
    border: none;
}

.modelo__teclado_1 , .modelo__teclado_2, .modelo__mouse_1, .modelo__mouse_2, .modelo__pantalla_1, .modelo__pantalla_2, .modelo__pc_1, .modelo__pc_2{
    grid-column: 1/1;
    grid-row: 2/2;
    background-color: rgb(35, 26, 46);
    font-size: 18px;
    text-align: center;
    color: aliceblue;
}

.modelo__teclado_2{
    grid-column: 2/2;
    grid-row: 2/2;
}

.modelo__mouse_1{
    grid-column: 3/3;
    grid-row: 2/2;
}

.modelo__mouse_2{
    grid-column: 4/4;
    grid-row: 2/2;
}

.modelo__pantalla_1{
    grid-column: 1/1;
    grid-row: 6/6;
}

.modelo__pantalla_2{
    grid-column: 2/2;
    grid-row:6/6;
}

.modelo__pc_1{
    grid-column: 3/3;
    grid-row:6/6;
}
.modelo__pc_2{
    grid-column: 4/4;
    grid-row:6/6;
}

.carac_teclado_1, .carac_teclado_2 , .carac__mouse_1, .carac__mouse_2, .carac__pantalla_1, .carac__pantalla_2, .carac__pc_1, .carac__pc_2{
    background-color: rgb(35, 26, 46);
    font-size: 12px;
    text-align: justify;
    color: violet;
}
.carac_teclado_1{
    grid-row: 3/3;
    grid-column: 1/1;
}


.carac_teclado_2{
    grid-row: 3/3;
    grid-column: 2/2;
}

.carac__mouse_1{
    grid-row: 3/3;
    grid-column: 3/3;
}


.carac__mouse_2{
    grid-row: 3/3;
    grid-column: 4/4;
}

.carac__pantalla_1{
    grid-row: 7/7;
    grid-column: 1/1;
}

.carac__pantalla_2{
    grid-row: 7/7;
    grid-column: 2/2;
}
.carac__pc_1{
    grid-row: 7/7;
    grid-column: 3/3;    
}

.carac__pc_2{
    grid-row: 7/7;
    grid-column: 4/4;    
}

.precio_teclado_1, .precio_teclado_2, .precio__mouse_1 , .precio__mouse_2, .precio__pantalla_1, .precio__pantalla_2, .precio__pc_1, .precio__pc_2{
    background-color: rgb(35, 26, 46);
    font-size: 18px;
    text-align: center;
    color:red;
    margin-bottom: 1%;
}

.precio__teclado_1{
    grid-column: 1/1;
    grid-row: 4/4;
}

.precio_teclado_2{
    grid-column: 2/2;
    grid-row: 4/4;
}

.precio__mouse_1{
    grid-column: 3/3;
    grid-row: 4/4;
}

.precio__mouse_2{
    grid-column: 4/4;
    grid-row: 4/4;
}

.precio__pantalla_1{
    grid-column:1/1;
    grid-row:8/8;
}

.precio__pantalla_2{
    grid-column:2/2;
    grid-row:8/8;
}

.precio__pc_1{
    grid-column:3/3;
    grid-row:8/8;
}

.precio__pc_2{
    grid-column:4/4;
    grid-row:8/8;
}
.img__teclado_1 , .img__teclado_2 , .img__mouse_1, .img__mouse_2, .img__pantalla_1, .img__pantalla_2, .img__pc_1, .img__pc_2{
    width: 100%;
    height: 280px;
    transition: all .3s ease-in-out;
}

.img__teclado_1{
    grid-column: 1/1;
    grid-row: 1/1;
}

.img__teclado_2{
    grid-column: 2/2;
    grid-row: 1/1;
}

.img__mouse_1{
    grid-column: 3/3;
    grid-row: 1/1;
}

.img__mouse_2{
    grid-row: 1/1;
    grid-column: 4/4;
}
.img__pantalla_1{
    grid-row: 5/5;
    grid-column: 1/1;
}
.img__pantalla_2{
    grid-row: 5/5;
    grid-column: 2/2;
}

.img__pc_1{
    grid-column:3/3;
    grid-row:5/5;
}

.img__pc_2{
    grid-column:4/4;
    grid-row:5/5;
}
.img__teclado_1:hover , .img__teclado_2:hover, .img__mouse_1:hover ,.img__mouse_2:hover , .img__pantalla_1:hover, .img__pantalla_2:hover, .img__pc_1:hover, .img__pc_2:hover{
    transform: scale(0.9);
    transform-origin: center center;
}

/* finaliza Section de productos.html*/
/* --------------------------------------------------------*/
/* Inicio de Section de promos.html*/
.PromoImg{ 
    width: 90%;
    height: 750px;
    margin: auto;
    display: flex;
    box-shadow: 10px 10px;
} 
.PromoText{
    color: rgb(44, 1, 44) ;
    background: rgb(105, 2, 105) ;
    font-size: 23.5px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 42.5%;
    margin-right: 42.5%;
}
/* finaliza Section, pagina promos.html*/ 
/* --------------------------------------------------------*/
/* inicio de section, pagina nosotros.html*/

.contenedor__Caja{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.QuienesSomos{
    background-color: rgb(35, 26, 46);
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(125, 16, 175);
    margin-bottom: 5px;
    font-size: 20px;
}
.TiendaImg{ 
    border: none;
    width: 100%;
    height: 50%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
} 

.TextDueños{
    background-color: rgb(35, 26, 46);

    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(125, 16, 175);
    font-size: 20px;
    margin-bottom: 5px;
}
/* cierre de section, pagina nosotros.html*/
/* --------------------------------------------------------*/
/* inicio de section, pagina contacto.html*/
.contenedor--sectioncontacto{
    display: grid;
    flex-direction: column;
}

.caja__contacto{
    display: grid;
    width: 100%;
    height: 100%;
}

.form--contacto{
    background-color: rgb(35, 26, 46);
    color: rgb(125, 16, 175);
    font-style: italic;
}

.form--contacto label{
	font-weight:bold;
    font-size: 25px;
}

.text__horarios{
    color: rgb(125, 16, 175);
    background-color: rgb(35, 26, 46);
    text-align: center;
    font-size: 25px;  
    margin-bottom: 0%;  
}

.imgmaps{
    height: 100%;
    width: 100%;
}
/* cierre de section, pagina contacto.html*/
/* --------------------------------------------------------*/
/* footer paginas */
footer{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-style: italic;
}

footer img{
    float: left;
    width: 64px;
    height: 42px;
    opacity: 0.5;
}
footer img:hover{
    opacity: 1.0;
}


footer div p{
    display: flex;
    justify-content: center;
    font-size: 14px;
    margin-bottom: 0%;
}


footer div ul{
    text-transform: capitalize;
    font-size: 13.5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-bottom: 0%;
}

footer div ul li{
    list-style: none;
    margin-right: 10px;
}

footer div ul a{
    color: rgb(255, 255, 255);
    text-decoration: none; /* Cambiar raya de URL */
}

footer div ul li:hover{
    background-color: rgb(211, 211, 211);
}
footer div ul li:active{
    background-color:  rgb(100, 24, 136);
}

.nav-link{
    padding: 0%;
}
/* Cierre de footer*/
/* --------------------------------------------------------*/
/* Vista Mobile*/
@media only screen and (min-width:320px) and (max-width:767px){
    section{
        height: 1375px;
        width: 100%; 
    }
    header{
        height: 200px;
    }

    /* index.html */
    .set_up{
        width: 100%;
    }
    
    .caja__productos{
        width: 300px;    
    }
    /* Una columna por ocho filas*/
    .teclado__caja{
        grid-column: 1/1;
        grid-row: 1/1;
        background-color: rgb(35, 26, 46);
    }
    
    .mouse__caja{
        grid-row: 3/3;
        grid-column: 1/1;
        background-color: rgb(35, 26, 46);
    }
    
    .pantalla__caja{
        grid-column: 1/1;
        grid-row: 5/5;
        background-color: rgb(35, 26, 46);
    }
    
    .pc__caja{
        grid-column: 1/1;
        grid-row: 7/7;
        background-color: rgb(35, 26, 46);
    }
    
    .img__TecladoCaja{
        grid-column: 1/1;
        grid-row: 2/2;
    }
    .img__MouseCaja{
        grid-column: 1/1;
        grid-row: 4/4;
    }
    .img__PantallaCaja{
        grid-column: 1/1;
        grid-row: 6/6;
    }
    .img__PcCaja{
        grid-column: 1/1;
        grid-row: 8/8;        
    }
    .caja__productos{
        width: 100%;
        height: 100%;
    }

    /* producto.html */
    .Contenedor__Prod{
        grid-template-columns: 2fr 2fr;
    }
    .modelo__teclado_1{
        grid-column: 1/1;
        grid-row: 2/2;
    }


    .modelo__teclado_2{
        grid-column: 2/2;
        grid-row: 2/2;
    }
    
    .modelo__mouse_1{
        grid-column: 1/1;
        grid-row: 6/6;
    }
    
    .modelo__mouse_2{
        grid-column: 2/2;
        grid-row: 6/6;
    }
    
    .modelo__pantalla_1{
        grid-column: 1/1;
        grid-row: 10/10;
    }
    
    .modelo__pantalla_2{
        grid-column: 2/2;
        grid-row:10/10;
    }
    
    .modelo__pc_1{
        grid-column: 1/1;
        grid-row:14/14;
    }
    .modelo__pc_2{
        grid-column: 2/2;
        grid-row:14/14;
    }

    .carac_teclado_1{
        grid-row: 3/3;
        grid-column: 1/1;
    }
    
    
    .carac_teclado_2{
        grid-row: 3/3;
        grid-column: 2/2;
    }

    .carac__mouse_1{
        grid-row: 7/7;
        grid-column: 1/1;
    }


    .carac__mouse_2{
        grid-row: 7/7;
        grid-column: 2/2;
    }

    .carac__pantalla_1{
        grid-row: 11/11;
        grid-column: 1/1;
    }

    .carac__pantalla_2{
        grid-row: 11/11;
        grid-column: 2/2;
    }
    .carac__pc_1{
        grid-row: 15/15;
        grid-column: 1/1;    
    }

    .carac__pc_2{
        grid-row: 15/15;
        grid-column: 2/2;    
    }

    .precio_teclado_1{
        grid-column: 1/1;
        grid-row: 4/4;
    }
    
    .precio_teclado_2{
        grid-column: 2/2;
        grid-row: 4/4;
    }
    
    .precio__mouse_1{
        grid-column: 1/1;
        grid-row: 8/8;
    }
    
    .precio__mouse_2{
        grid-column: 2/2;
        grid-row: 8/8;
    }
    
    .precio__pantalla_1{
        grid-column:1/1;
        grid-row:12/12;
    }
    
    .precio__pantalla_2{
        grid-column:2/2;
        grid-row:12/12;
    }
    
    .precio__pc_1{
        grid-column:1/1;
        grid-row:16/16;
    }
    
    .precio__pc_2{
        grid-column:2/2;
        grid-row:16/16;
    }
    
    .img__teclado_1 , .img__teclado_2 , .img__mouse_1, .img__mouse_2, .img__pantalla_1, .img__pantalla_2, .img__pc_1, .img__pc_2{
        height: 150px;
    }

    .img__teclado_1{
        grid-column: 1/1;
        grid-row: 1/1;
    }
    
    .img__teclado_2{
        grid-column: 2/2;
        grid-row: 1/1;
    }
    
    .img__mouse_1{
        grid-column: 1/1;
        grid-row: 5/5;
    }
    
    .img__mouse_2{
        grid-row: 5/5;
        grid-column: 2/2;
    }
    .img__pantalla_1{
        grid-row: 9/9;
        grid-column: 1/1;
    }
    .img__pantalla_2{
        grid-row: 9/9;
        grid-column: 2/2;
    }
    
    .img__pc_1{
        grid-column:1/1;
        grid-row:13/13;
    }
    
    .img__pc_2{
        grid-column:2/2;
        grid-row:13/13;
    }
    
    .precio_teclado_1, .precio_teclado_2, .precio__mouse_1 , .precio__mouse_2, .precio__pantalla_1, .precio__pantalla_2, .precio__pc_1, .precio__pc_2{
        margin-bottom: 8%;
    }

    .modelo__teclado_1 , .modelo__teclado_2, .modelo__mouse_1, .modelo__mouse_2, .modelo__pantalla_1, .modelo__pantalla_2, .modelo__pc_1, .modelo__pc_2{
        font-size: 17px;
    }

    /* promos.html*/ 
    .PromoImg{ 
        width: 90%;
        height: 550px;
    } 
    .PromoText{
        margin-left: 25.5%;
        margin-right: 25.5%;
    }


    /* nosotros.html */
    .TiendaImg{
        margin-top: 10%;
        margin-bottom: 10%;
        width: 100%;
        height: 400px;
    }

    /* contacto.html */

    .imgmaps__caja{
        height: 625px;
        width: 100%;
    }

    .contenedor--sectioncontacto{
        grid-row-gap: 2%;
        grid-template-rows: 1fr;
    }

}
/* Cierre de Mobile*/
/* --------------------------------------------------------*/
/* Vista Tablet */

@media only screen and (min-width:768px) and (max-width:1023px){
    
    /*  index.html*/
    .contenedor__productos{
        grid-template-columns: 1fr 1fr;
        padding-left: 5%;
    }

    .set_up{
        width: 70%;
        height: 225px;
    }
    /* producto.html */
    .img__teclado_1 , .img__teclado_2 , .img__mouse_1, .img__mouse_2, .img__pantalla_1, .img__pantalla_2, .img__pc_1, .img__pc_2{
        height: 225px;
    }

    .precio_teclado_1, .precio_teclado_2, .precio__mouse_1 , .precio__mouse_2, .precio__pantalla_1, .precio__pantalla_2, .precio__pc_1, .precio__pc_2{
        margin-bottom: 6%;
    }

    .modelo__teclado_1 , .modelo__teclado_2, .modelo__mouse_1, .modelo__mouse_2, .modelo__pantalla_1, .modelo__pantalla_2, .modelo__pc_1, .modelo__pc_2{
        font-size: 17px;
    }
    /* promos.html */

    .PromoImg{ 
        width: 95%;
        height: 750px;
    } 
    .PromoText{
        margin-left: 39.5%;
        margin-right: 39.5%;
    }

    /* nosotros.html*/
    .TiendaImg{
        margin-top: 2%;
        margin-bottom: 2%;
        width: 100%;
        height: 70%;
        justify-content: center;
    }


    /* contacto.html*/ 
    .caja__contacto{
        justify-content: center;
        text-align: center;
    }

    .form--contacto{
        margin-bottom: 16px;        
    }

    .texthorarios__caja{
        text-align: center;
        font-size: 25px;
    }
    .imgmaps__caja{
        height: 280px;
    }
}

/* Cierre de vista tablet*/
/* --------------------------------------------------------*/
/* Vista Desktop */

@media only screen and (min-width:1024px) and (max-width:1920px){
    
    /* index.html*/
    .contenedor__productos{
        grid-template-columns: 1fr 1fr;
        padding-left: 2%;
        padding-right: 2%;
        grid-column-gap: 2%;
    }

    .caja__productos{
        width: 100%;
    }
    .set_up{
        width: 60%;
        height: 225px;
    }

    /* productos.html */
    .img__teclado_1 , .img__teclado_2 , .img__mouse_1, .img__mouse_2, .img__pantalla_1, .img__pantalla_2, .img__pc_1, .img__pc_2{
        height: 250px;
    }

    /* nosotros.html*/ 

    .contenedor__CajaNosotros{
        grid-template-columns: 1fr 1fr;
        display: grid;
        width: 100%;
        height: 100%;
        grid-row-gap: 17.5em;  
        grid-column-gap: 30px;  
    }

    /* dos columnas por cuatro filas*/
    .TiendaImg{
        width: 100%;
        height: 93%;
        margin-top: 0%;
        margin-bottom: 0%;
    }

    .CajaQuienesSomos{
        grid-column: 1/1;
        grid-row: 1/2;
    }
    
    .CajaTiendaImg{
        grid-column: 2/2;
        grid-row: 1/4;
    }
    
    .CajaTextDueños{
        grid-column: 1/1;
        grid-row: 2/2;
    }

    /* contacto.html*/
    .contenedor--sectioncontacto{
        grid-template-columns: 2fr 2fr;
    }

    .imgmaps__caja{
        height: 749px;
    }
    .form--contacto{
        font-size: 3em;
    }

    .form--contacto input{
        font-size: 0.4em;
    }

    .form--contacto select{
        font-size: 0.4em;
    }

}
/* Cierre de Vista Desktop */
